{% extends 'base2columns.html.twig' %}
{% block title %}CaCert{% endblock %}
{% block content %}



<div class="card mb-4">
    <div class="card-body">
        <h2 class="card-title">{% trans %}Profile{% endtrans %}</h2>
    
        <div class="row">
            <div class="col-md-12">
                <img  src="{{ app.user.GravatarUrl(80) }}" alt="">
            </div>

            <div class="col-md-12">
                {{ app.user.FirstName}} {{app.user.LastName}}
            </div>

            <div class="col-md-12">
                {{ app.user.Email}}
            </div>
           
            <div class="col-md-12">
                {{ app.user.DateOfBirth|localizeddate('long', 'none') }}
            </div>


            <div class="col-12">
                {{ form_row(form.password) }}
            </div>

            <div class="col-12">
                
            </div>

        </div>

    </div>
</div>

{{ form_start(form) }}
{{ form_errors(form)}}
 
<div class="card my-4 mb-4">
        <div class="card-body">
            <h2 class="card-title">Web of trust listing</h2>
            {{ form_row(form.listme) }}
            {{ form_row(form.contactinfo) }}
        </div>
    </div>

   

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Security Questions</h2>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.questions.question1) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.questions.answer1) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.questions.question2) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.questions.answer2) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.questions.question3) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.questions.answer3) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.questions.question4) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.questions.answer4) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.questions.question5) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.questions.answer5) }}
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Alternative Languages</h2>
            {{ form_row(form.languages) }}

            {{ form_row(form.add)}}
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Alerts</h2>
            {{ form_row(form.alerts) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}