<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Welcome!{% endblock %}</title>
		<!--[if IE]>
			<link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
		<![endif]-->
		<link rel="icon" href="{{ asset('favicon.png') }}">
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">  
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">  
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

             <style>
            table.dataTable.table-sm .sorting:before,
            table.dataTable.table-sm .sorting_asc:before,
            table.dataTable.table-sm .sorting_desc:before {
                top: 5px;
                right: 1.5em;
        		}
        		
        		table.dataTable{
        			border-collapse: collapse !important;
        		}            
        </style>
    </head>
    <body>
    
    	{% include 'common/navigation.html.twig' %}
    
    	<div class="container-fluid">
    		{% block body %}{% endblock %}
    	</div>
    	
    	{% include 'common/footer.html.twig' %}
    	
    	<script src="{{ asset('build/manifest.js') }}"></script>
    	<script src="{{ asset('build/vendor.js') }}"></script>
    	<script src="{{ asset('build/global.js') }}"></script>
    	<script src="{{ asset('build/app.js') }}"></script>
    	 	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
   
    </body>
</html>